 <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
  <li>
      <a href="#" class="x-navigation-minimize">Afficher/Masquer le menu</a>
  </li>
   <li class="pull-right">
    <a href="./admin-help"><i class="fa fa-question-circle"></i> Aide</a>                  
</li> 
  <li class="pull-right">
      <a href="./logout">Se déconnecter</a>                   
  </li> 
</ul>                                               