<ul class="x-navigation x-navigation-horizontal x-navigation-panel">
    <li>
        <a href="#" class="x-navigation-minimize">Afficher/Masquer le menu</a>
    </li>
    <li class="pull-right">
        <a href="./login">Se connecter</a>                   
    </li> 
  </ul> 