<div class="page-sidebar">
    <ul id="menu" class="x-navigation">  
        <li class="xn-logo"><a href="/">SI SCD Admin</a></li>
            <li class="xn-title xn-openable active">Administration
                 <ul>
                    <li><a href="./admin-config">Configuration (sites & utilisateurs)</a></li>
                     <li><a href="./admin-disc">Référentiel des disciplines</a></li>		
                    </li>
                </ul>					
            </li>
            <li class="xn-title xn-openable active">Horaires d'ouverture
                <ul>
                    <li><a href="http://si-scd.unice.fr/si-scd/modules/horaires/admin/index.html">Saisie des calendriers </a>
                    </li>
                    <li><a href="http://si-scd.unice.fr/si-scd/modules/horaires/admin/dataquality.html">Contrôle des données</a>
                    </li>
                </ul>
            </li>      	
            <li class="xn-title xn-openable active">Docelec
                <ul>
                    <li><a href="./admin-docelec-master">Configuration</a></li>
                    <li><a href="./admin-docelec-signalement">Signalement</a></li>
                    <li><a href="./admin-docelec-gestion">Gestion</a></li>
					<li class="xn-title xn-openable active">Statistiques					
                        <ul>
                            <li><a href="./admin-docelec-stats">Saisie des données de consultation</a></li>
                            <li><a href="./admin-docelec-suivistats">Suivi des saisies</a></li>
                           </ul>
                    </li>
                    <li class="xn-title xn-openable active">Dashboards					
                        <ul>
                           <li><a href="./admin-docelec-dashboardgestion">Gestion annuelle des ressources</a></li>
                           <li><a href="./admin-docelec-dashboardgc">Suivi des GC</a></li>
						 </ul>
					</li>
                </ul>					
            </li>                                                                           
    </ul>
</div>