<div class="page-sidebar">
    <ul id="menu" class="x-navigation">  
        <li class="xn-logo"><a href="#">SI SCD Admin</a></li>
                         <li class="xn-title xn-openable" id="full-admin">Administration
                         <ul>
                         <li><a href="#">Gestion du calendrier perpétuel</a></li>
						 <li><a href="#">BU (sites)</a></li>
                        <li><a href="#">Comptes utilisateurs</a></li>				
                        </li>
                        </ul>					
                        </li>
                           
                        <li class="xn-title xn-openable active">Horaires d'ouverture					
						<ul>
                        <li><a href="#">Saisie des calendriers </a></li>
                        <li><a href="#">Contrôle des données</a></li>
                        </ul>
                    </li>	
                    <li class="xn-title xn-openable active">Docelec
                        <ul>
                        <li><a href="./master">Configuration</a></li>
                        <li><a href="./signalement">Signalement</a></li>
                        <li><a href="#">Statistiques</a></li>
                        <li><a href="./gestion">Gestion</a></li>
                        <li><a href="./dashboard-gestion">Dashboard Suivi Gestion</a></li>
                        </ul>					
                        </li>                                                                           
    </ul>
</div>