<div class="page-sidebar">
    <ul id="menu" class="x-navigation">  
        <li class="xn-logo"><a href="/si-scd-prod">SI SCD</a></li>
                         <li class="xn-title xn-openable active">Horaires d'ouverture des BU
                         <ul>
                         <li><a href="http://si-scd.unice.fr/si-scd/modules/horaires/public/index.html">Totaux par BU</a></li>			
                         </ul>
                        </li>					                          
                        <li class="xn-title xn-openable active">IUB					
						<ul>
                        <li><a href="./public-iub-explore">Exploration interactive</a></li>
                        </ul>
                    </li>	
                    <li class="xn-title xn-openable active">Documentation électronique
                        <ul>
                        <li><a href="./public-docelec-dashboard">Statistiques : dashboard</a></li>
                        </ul>					
                        </li>   
                    <li class="xn-title xn-openable active">Utilitaires
                        <ul>
						<li><a href="./public-apps-utils#unimarcxml">Vérifier les données bibliographiques des notices Sudoc</a></li>
						<li><a href="./public-apps-utils#multiwhere">Vérifier les localisations dans le Sudoc</a></li>
                        <li><a href="./public-apps-utils#isbn2ppn">Vérifier la présence d'ISBN dans le Sudoc</a></li>
                        </ul>					
                    </li>  
                    <li class="xn-title xn-openable active">Utilitaires ebooks
                        <ul>
						<li><a href="./public-apps-utilebooks#isbn2ebooks">Voir tous les ebooks (signalés dans Primo) associés à un ISBN</a></li>
                        </ul>					
                    </li>	
                    <li class="xn-title xn-openable active">Utilitaires AdminGen
                        <ul>
						<li><a href="./public-apps-utiladmingen">Calculer des droits aux congés</a></li>
                        </ul>					
                    </li>					
    </ul>
</div>