<div class="page-sidebar">
    <ul id="menu" class="x-navigation">  
        <li class="xn-logo"><a href="/">SI SCD</a></li>
                         <li class="xn-title xn-openable" id="full-admin">Horaires d'ouverture des BU
                         <ul>
                         <li><a href="#">Données consolidées</a></li>
                         <li><a href="#">Données ESGBU</a></li>			
                         </ul>
                        </li>					                          
                        <li class="xn-title xn-openable active">IUB					
						<ul>
                        <li><a href="#">Données consolidées </a></li>
                        <li><a href="./public-iub-explore">Exploration</a></li>
                        </ul>
                    </li>	
                    <li class="xn-title xn-openable active">Documentation électronique
                        <ul>
                        <li><a href="#">Indicateurs</a></li>
                        <li><a href="#">Données ESGBU</a></li>
                        </ul>					
                        </li>
                    <li class="xn-title xn-openable active">Consultations site web et catalogue
                        <ul>
                        <li><a href="#">Stats Google Analytics</a></li>
                        </ul>					
                    </li>   
                    <li class="xn-title xn-openable active">Applications & utilitaires
                        <ul>
                        <li><a href="./public-apps-app">Applications développées en interne</a></li>
                        <li><a href="./public-apps-utils">Utilitaires en ligne</a></li>
                        </ul>					
                    </li>                                                                             
    </ul>
</div>