<div class="page-sidebar">
    <ul id="menu" class="x-navigation">  
        <li class="xn-logo"><a href="/">SI SCD Admin</a></li>
                         <li class="xn-title xn-openable active">Administration
                         <ul>
                         <li><a href="./admin-config">Configuration (sites & utilisateurs)</a></li>
                         <li><a href="./admin-disc">Référentiel des disciplines</a></li>
                         <li><a href="http://si-scd.unice.fr/si-scd/modules/calendar/admin.html" target="_blanck">Gestion du calendrier perpétuel</a></li>			
                        </li>
                        </ul>					
                        </li>
                           	
                    <li class="xn-title xn-openable active">Docelec
                        <ul>
                        <li><a href="./admin-docelec-master">Configuration</a></li>
                        <li><a href="./admin-docelec-signalement">Signalement</a></li>
                        <li><a href="./admin-docelec-gestion">Gestion</a></li>
                        <li><a href="./admin-docelec-stats">Statistiques</a></li>
                        <!--<li><a href="http://si-scd.unice.fr/si-scd/modules/docelec/admin/statistiques.html">Statistiques</a></li>-->
                        <li><a href="./admin-docelec-dashboardgestion">Dashboard Suivi Gestion</a></li>
                        <li><a href="./admin-docelec-dashboardgc">Dashboard Suivi GC</a></li>
                        </ul>					
                        </li>                                                                           
    </ul>
</div>