<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('partials/head'); -%> 
</head>
<body>
   <div class="page-container">
    <div class="row text-center">
      <h1 style="color:#bec4ca">SI-SCD</h1>
      <!--<p><a href="/login" target="_blanck" type="button" class="btn btn-info">Accéder à l'interface d'administration</a></p>-->
     </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div class="panel panel-warning push-up-20">
          <div class="panel-body panel-body-pricing">
              <h2><small>Horaires des BU</small></h2>                                
              <p><span class="fa fa-caret-right"></span> <a href="http://si-scd.unice.fr/si-scd/modules/horaires/public/index.html">Totaux par BU</a></p>
          </div>
          <div class="panel-footer">                                 
              <a href="./login" target="_blanck" type="button" class="btn btn-info btn-block">Administration</a>
          </div>
      </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-warning push-up-20">
        <div class="panel-body panel-body-pricing">
            <h2><small>Documentation électronique</small></h2>                                
            <p><span class="fa fa-caret-right"></span> <a href="./public-docelec-dashboard">Statistiques : dashboard</a></p>
        </div>
        <div class="panel-footer">                                 
          <a href="./login" target="_blanck" type="button" class="btn btn-info btn-block">Administration</a>
        </div>
    </div>
</div>
        <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
   
  <div class="col-md-4">
   <div class="row">
    <div class="panel panel-warning push-up-20">
        <div class="panel-body panel-body-pricing">
            <h2><small>IUB</small></h2>                                
            <p><span class="fa fa-caret-right"></span> <a href="./public-iub-explore">Exploration interactive</a></p>
        </div>
    </div>
 </div>
 <div class="row">
  <div class="panel panel-warning push-up-20">
      <div class="panel-body panel-body-pricing">
          <h2><small>Utilitaires</small></h2>
		  <p><span class="fa fa-caret-right"></span> <a href="./public-apps-utils#unimarcxml">Vérifier les données bibliographiques des notices Sudoc</a></p>
          <p><span class="fa fa-caret-right"></span> <a href="./public-apps-utils#multiwhere">Vérifier les localisations dans le Sudoc</a></p>		  
          <p><span class="fa fa-caret-right"></span> <a href="./public-apps-utils#isbn2ppn">Vérifier la présence d'ISBN dans le Sudoc</a></p>		  
          <!--<p><span class="fa fa-caret-right"></span> <a href="https://ggeoffroy.com/apps/data-explorer/" target="_blanck">Data-Explorer</a><span class="text-muted"> Explorer graphiquement des jeux de données</span></p>-->
          <!--<p><span class="fa fa-caret-right"></span> <a href="https://github.com/abes-esr/sudoc-toolkit" target="_blanck">SudocToolkit</a><span class="text-muted"> Interface graphique d'interrogation des web services de l'Abes</span></p>-->
      </div>
  </div>
</div>
 <div class="row">
    <div class="panel panel-warning push-up-20">
      <div class="panel-body panel-body-pricing">
          <h2><small>Utilitaires Ebooks</small></h2> 
          <p><span class="fa fa-caret-right"></span> <a href="./public-apps-utilebooks#isbn2ebooks">Voir tous les ebooks (signalés dans Primo) associés à un ISBN</a></p>       
      </div>
  </div>
 </div>
</div>

<div class="col-md-4">
<div class="row">
  <div class="panel panel-warning push-up-20">
      <div class="panel-body panel-body-pricing">
          <h2><small>Publications et Open Access</small></h2>                                
          <p><span class="fa fa-caret-right"></span><a href="http://dev-scd.unice.fr/uca-oa-barometre/" target="_blanck">Baromètre Science Ouverte (version complète)</a></p>
          <p><span class="fa fa-caret-right"></span><a href="http://dev-scd.unice.fr/uca-oa-barometre-minimalist/" target="_blanck">Baromètre Science Ouverte (version light one-page)</a></p>
          <p><span class="fa fa-caret-right"></span><a href="http://dev-scd.unice.fr/barometre-demonstrateur/" target="_blanck">Baromètre Science Ouverte : démonstrateur</a> <span class="text-muted"> Générer un baromètre OA à partir d'un fichier de DOI</span></p>
          <p><span class="fa fa-caret-right"></span><a href="https://azurscd-aurehal-network.onrender.com/" target="_blanck">Aurehal Network</a> <span class="text-muted"> Application de visualisation de l'arborescence de structures dans Aurehal à partir d'un docid</span></p>
		  <p><span class="fa fa-caret-right"></span><a href="https://azurscd-aurehal-3d-network.onrender.com/" target="_blanck">Aurehal 3D Network</a> <span class="text-muted"> Application de visualisation en graphe 3D de l'ensemble des structures du référentiel Aurehal.</span></p>
      </div>
  </div>
  </div>
  <div class="row">
  <div class="panel panel-warning push-up-20">
      <div class="panel-body panel-body-pricing">
          <h2><small>Utilitaires AdminGen</small></h2> 
          <p><span class="fa fa-caret-right"></span> <a href="./public-apps-utiladmingen">Calculer des droits au congés</a></p>       
      </div>
  </div>
</div>
</div>

    <div class="col-md-1"></div>
  </div>
<hr> 
  <div class="row">
    <div class="col-md-1"></div>

    <!--<div class="col-md-3">
      <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Kanboard</h3>
        </div>
        <div class="panel-body">
            <p>Application de gestion de projet.</p>
        </div>     
        <div class="panel-footer">
          <a href="http://si-scd.unice.fr/kanboard/" target="_blanck" type="button" class="btn btn-warning btn-block">Accès</a>
        </div>                            
    </div>  
    </div>-->


      <div class="col-md-1"></div>
  </div>
</div>

</body>
<%- include ('partials/script') -%>
</html>