<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('partials/head'); -%> 
</head>
<body>
  <div class="page-container">
    <div class="row text-center">
      <h1 style="color:#bec4ca">SI-SCD</h1>
      <p><a href="./login" target="_blanck" type="button" class="btn btn-info">Accéder à l'interface d'administration</a></p>
     </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading ui-draggable-handle">
            <h3 class="panel-title">Horaires des BU</h3>
        </div>
        <div class="panel-body">
            <p><a href="#">[A venir] Données consolidées et graphiques</a></p>
            <p><a href="#">[A venir] Données ESGBU</a></p>
        </div>                       
    </div>
    </div>

      <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">IUB</h3>
            </div>
            <div class="panel-body">
                <p><a href="./public-iub-explore">Exploration interactive</a></p>
            </div>                           
        </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-primary">
              <div class="panel-heading ui-draggable-handle">
                  <h3 class="panel-title">Fréquentation des BU</h3>
              </div>
              <div class="panel-body">
                  <p>[A venir]</p>
              </div>
              <div class="panel-footer">
              </div>                            
          </div>
          </div>
        <div class="col-md-1"></div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="panel panel-primary">
          <div class="panel-heading ui-draggable-handle">
              <h3 class="panel-title">Documentation électronique</h3>
          </div>
          <div class="panel-body">
              <p><a href="#">[A venir] Indicateurs</a></p>
              <p><a href="#">[A venir] Données ESGBU</a></p>
          </div>                       
      </div>
    </div>

      <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading ui-draggable-handle">
                <h3 class="panel-title">Web (site et catalogue)</h3>
            </div>
            <div class="panel-body">
              <p><a href="#">Statistiques (GA)</a></p>
            </div>                           
        </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-primary">
              <div class="panel-heading ui-draggable-handle text-center">
                  <h3 class="panel-title">Publications</h3>
              </div>
              <div class="panel-body">
                  <p><a href="https://ggeoffroy.com/apps/uca.barometre-oa" target="_blanck">Baromètre Science Ouverte</a></p>
              </div>
              <div class="panel-footer">
              </div>                            
          </div>
          </div>
        <div class="col-md-1"></div>
  </div>
  
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="panel panel-primary">
          <div class="panel-heading ui-draggable-handle">
              <h3 class="panel-title"> <a href="/public-apps-app">Divers</a></h3>
          </div>
          <div class="panel-body">
            <p><a href="./public/apps/utils">Utilitaires</a></p>
            <p><a href="./public-apps-app">Applications développées au Sidoc</a></p>
        </div> 
        <!-- <div class="panel-footer">
              <a href="./public-apps-app" button class="btn btn-primary">Voir</a>
          </div> -->                        
      </div>
    </div>
      <div class="col-md-1"></div>
  </div>
</div>

</body>
<%- include ('partials/script') -%>
</html>