<!DOCTYPE html>
<html lang="en">
<head>
 <%- include ('partials/head'); -%> 
</head>
<body>

  <div class="page-container">
  <%- include ('partials/sidebar') -%>
  <div class="page-content">
    <%- include ('partials/navbar') -%>
    <div class="page-content-wrap">
      
    </div>
</div>
</div>

</body>
<%- include ('partials/script') -%>
</html>