@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.ts-button {
    display:none;
    }
    .modal-dialog.modal-1000 {
width: 80%;
}
[id^="gridContainer"] {
    margin-left: 10px;
  }
/*master detail dans datagrids*/
.master-detail-caption {
    padding: 0 0 5px 10px;
    font-size: 14px;
    font-weight: bold;
}
/*temporaire selectbox year in dashboard docelec*/
#selectbox {
    float: right;
}

.action {
    width: 270px;
    margin-top: 20px;
}

.label {
    padding-top: 9px;
}
/*temporaire pie chart in dashboard docelec*/
#pieChart * {
    margin: 0 auto;
}
/*dx component charts tooltips*/
.state-tooltip {
    background-color:rgb(241, 248, 247);
    color: black;
}
.state-tooltip .caption {
    font-weight: 500;
    color: black;
    line-height: 40px;
    font-size: 14px;
    margin-bottom: 5px;
}
/*dx charts size*/
#dxReliquatRotatedBarSTM {
    width: 650px;
    height: 440px;
}
#dxReliquatRotatedBarSHS {
    width: 650px;
    height: 440px;
}
/*docelec ressource config checkbox*/
.dx-checkbox {
    margin-right: 10px;
}
/*docelec gestion popup form*/
label[for$="montant_ttc"] {
    background-color: rgb(230, 96, 96);
  }
label[for$="reliquat"] {
background-color: rgb(230, 96, 96);
}
label[for$="last_estime"] {
    background-color: rgb(230, 96, 96);
    }
label[for$="montant_tva_apres_recup"] {
    background-color:grey;
}
/*apache superset iframe*/
iframe {
    border: 0px;
}
/*keshif visu*/
.demoHeader {
    display:none;
}
.logoHost {
    display:none;
}
.showHelpIn {
    display:none;
}
.datasource  {
    display:none;
}
/*Loader Div*/
#loaderDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    from { opacity: 0; } to { opacity: 1; }
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }